<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd 
 http://www.springframework.org/schema/context 
 http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">
	
	<bean name="emp" class="com.gareth.spring.springcore.Employee"
	p:id="20" p:name="Gareth"/>
	
	<bean name="hospital" class="com.gareth.spring.springcore.list.Hospital">
		<property name="name">
			<value>UCHG</value>
		</property>
		<property name="departments">
			<list>
				<value>Anaesthetics</value>
				<value>Accident and Emergency</value>
				<value>Cardiology</value>
				<value>Surgery</value>
				<value>Neurology</value>
				<value>Physiotherapy</value>
				<value>Radiotherapy</value>
			</list>
		</property>
	</bean>
	
	<bean name="cardealer" class="com.gareth.spring.springcore.set.CarDealer">
		<property name="name">
			<value>Western Motor Park</value>
		</property>
		<property name="models">
			<set>
				<value>BMW</value>
				<value>Nissan</value>
				<value>Toyota</value>
				<value>VW</value>
				<value>Mercedes</value>
			</set>
		</property>
	</bean>
	
</beans>